################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SierpinskisTriangleGenerator/Triangle/src/TriPanel.class
